@import "tailwindcss";

/* Oculta a barra de rolagem do navegador, mas permite que o usuário continue rolando a página */
::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}